header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-img-content {
    a {
      img {
        width: 80px;
        height: 130px;
      }
    }
  }
  .header-links {
    nav {
      .nav-list {
        display: flex;
        justify-content: space-between;
        row-gap: 60px;
        .list-item {
          margin-right: 60px;
          a {
            font-size: 16px;
            font-weight: 700;
            line-height: 133%;
            color: #545454;
          }
        }
      }
    }
  }
}
